.app {
    min-height: 100vh;
    background-image: url('./assets/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.app h3 {
    font-size: 50px;
    position: absolute;
    font-weight: 600;
    left: 50px;
    top: 50px;
}


.app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.container {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
    transition: transform 0.5s ease;
    transform: translateY(100%);
    opacity: 0;
}

.container.show {
    transform: translateY(0);
    opacity: 1;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
    font-size: 1.5rem;

}




.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 7em;
}

.weather img {
    display: block;
    scale: 1.7;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel div {
    margin-bottom: 3em;
}

.search-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1.5em;
    margin: 0;
    border-radius: 15px;
    border: none;
    outline: none;
    background: #e6e1de;
    cursor: pointer;
}

.search-icon span {

    scale: 1.4;
    text-align: center;
}

.search-icon:hover {
    background: #fff !important;
    color: #000;
}

.cityInput {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}

.cityInput:focus {
    outline: none;
}

.cityInput::placeholder {
    color: #ccc;

}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;

}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul li:hover {
    color: #fff;
    margin: 2.5em 0;
}

.panel ul h4 {
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #fff;

}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1024px) {
    .app h3 {
        font-size: 2rem;
    }

    .container {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 0;
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        font-size: 0.2rem;
        padding: 1em 3em;
        transition: transform 0.5s ease;
        transform: translateY(100%);
        opacity: 0;
    }

    .temp {
        font-size: 2.7rem;
    }

    .condition {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 700px) {

    .app h3 {
        font-size: 40px;
        position: relative;
        font-weight: 600;
        text-align: center;
        top: 25%;
    }

    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        top: initial;
        justify-content: center;
        text-align: center;
    }

    .temp {
        font-size: 3rem;
    }

    .condition {
        font-size: 1rem;
    }

    .panel {
        width: 100%;
        position: relative;
        margin-top: 100px;
        display: block;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 425px) {
    .app h3 {
        left: 10px;
    }


    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        top: initial;
        justify-content: center;
        text-align: center;
    }

    .container h1 {
        font-size: 2rem;
    }

    .panel {
        width: 100%;
        border: none;
        padding: 1.5rem;
    }


}